:root {
  --primary-color: #af1c38;
  --secondary-color: #991a38;
  --light-color: #e5918c;
  --animation-duration: 500ms;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
}

.nav .home {
  color: #000;
  font-family: "Helvetica Now Display";
  margin-left: 5vw;
  cursor: pointer;

  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.nav .home:hover {
  color: var(--primary-color);
}

.nav .home .primary {
  font-size: 30px;
  font-weight: 500;
}

.nav .home .secondary {
  font-size: 18px;
  font-weight: 300;
}

.nav .links {
  margin-left: auto;
  margin-right: 5vw;
}

.nav .links .link {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;

  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;

  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.nav .links .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav .links .link:hover {
  color: var(--primary-color);
}

.nav .links .link:hover::after,
.nav .links .link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.start {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.start .left-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 1;
}

.start .left-container .caption {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 20;
  bottom: -55%;
  align-self: flex-center;
  height: fit-content;
  overflow: visible;
  margin-left: 20%;
}

.start .left-container .caption .primary {
  font-size: 52px;
}

.start .left-container .caption .secondary {
  width: 70%;
  font-size: 22px;
}

.red {
  color: var(--primary-color);
  font-weight: 900;
}
.start .right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 2 / -1;
  grid-row: 1;
}

.start .right-container .portrait {
  display: block;
  z-index: 10;
  object-fit: contain;
  width: 100%;
  height: 90vh;
  align-self: flex-center;
  filter: drop-shadow(0 0 0.25rem var(--light-color));
}
