version: "3.7"

services:
  api:
    container_name: "api"
    build:
      context: ./api
    ports:
      - 5000:5000
    env_file:
      - .env
    volumes:
      - ./api:/opt/app
      - /opt/app/node_modules

  client:
    container_name: "client"
    build:
      context: ./client
    ports:
      - 3000:3000
    depends_on:
      - api
    env_file:
      - .env
    volumes:
      - ./client:/app
      - /app/node_modules

  redis:
    container_name: "redis"
    image: redis:alpine
    restart: always
    volumes:
      - "redis:/data"

  front:
    container_name: "front"
    image: mailu/nginx:1.8
    restart: always
    env_file: mailu.env
    logging:
      driver: json-file
    ports:
      - "80:80"
      - "443:443"
      - "25:25"
      - "465:465"
      - "587:587"
      - "110:110"
      - "995:995"
      - "143:143"
      - "993:993"
    volumes:
      - "./config/certs:/certs"
      - "./config/nginx.conf:/etc/nginx/nginx.conf:ro"
    depends_on:
      - client
      - admin
      - antispam
      - webmail

  resolver:
    container_name: "resolver"
    image: mailu/unbound:1.8
    env_file: mailu.env
    restart: always
    networks:
      default:
        ipv4_address: 192.168.203.254

  admin:
    container_name: "admin"
    image: mailu/admin:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "admin-data:/data"
      - "admin-dkim:/dkim"

  imap:
    container_name: "imap"
    image: mailu/dovecot:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "imap-mail:/mail"
  
  smtp:
    container_name: "smtp"
    image: mailu/postfix:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "smtp-mailqueue:/queue"
    dns:
      - 192.168.203.254
  
  antispam:
    container_name: "antispam"
    image: mailu/rspamd:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "antispam-filter:/var/lib/rspamd"
      - "antispam-dkim:/dkim"
    dns:
      - 192.168.203.254

  webmail:
    container_name: "webmail"
    image: mailu/roundcube:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "webmail:/data"
    depends_on:
      - imap

  webdav:
    container_name: "webdav"
    image: mailu/radicale:1.8
    restart: always
    env_file: mailu.env
    volumes:
      - "webdav-data:/data"

  fetchmail:
    container_name: "fetchmail"
    image: mailu/fetchmail:1.8
    restart: always
    env_file: mailu.env
    depends_on:
      - resolver
    dns:
      - 192.168.203.254
        
  bitwarden:
    container_name: "bitwarden"
    image: bitwardenrs/server
    restart: always
    volumes:
      - bitwarden-data:/data


networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.203.0/24

volumes:
  redis:
  admin-data:
  admin-dkim:
  imap-mail:
  smtp-mailqueue:
  antispam-filter:
  antispam-dkim:
  webmail:
  webdav-data:
  bitwarden-data:
