.nav {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 100;
}

.nav .home {
  color: #000;
  font-family: "Helvetica Now Display";
  margin-left: 5vw;
  cursor: pointer;

  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.nav .home:hover {
  color: var(--primary-color);
}

.nav .home .primary {
  font-size: 30px;
  font-weight: 500;
}

.nav .home .secondary {
  font-size: 18px;
  font-weight: 300;
}

.nav .links {
  margin-left: auto;
  margin-right: 5vw;
}

.nav .links .link {
  display: inline-block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;

  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;

  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.nav .links .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav .links .link:hover {
  color: var(--primary-color);
}

.nav .links .link:hover::after,
.nav .links .link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
