.contact {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding-top: 80px;
}

.contact .section-heading {
  grid-column: 1 / -1;
  grid-row: 1 / 4;
}

.contact .map {
  width: 100%;
  height: 100%;
  grid-column: 3 / -3;
  grid-row: 6 / -3;
  z-index: 10;
}

.contact .form {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  grid-column: 12 / -2;
  grid-row: 5 / 15;
  z-index: 30;
  filter: drop-shadow(0 0 0.25rem var(--primary-color));
}

.contact .information {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  grid-column: 2 / 8;
  grid-row: 15 / -2;
  z-index: 20;
  filter: drop-shadow(0 0 0.125rem var(--primary-color));
}

@media only screen and (max-width: 768px) {
  .contact .map {
    grid-column: 2 / -2;
    grid-row: 17 / -2;
  }
  .contact .form {
    grid-column: 2 / -2;
    grid-row: 4 / 12;
  }
  .contact .information {
    grid-column: 2 / -2;
    grid-row: 12 / 17;
  }
}